@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Comments:</strong>   <a href="mailto:LoveAndSupport@example.com">LoveAndSupport@example.com</a><br />
    <strong>Report Traitors:</strong> <a href="mailto:ReportTraitors@example.com">ReportTraitors@example.com</a>
</address>